<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="walk"></ion-icon>
      <ion-label>Viagem</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="globe"></ion-icon>
      <ion-label>Rota</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="share"></ion-icon>
      <ion-label>Compartilhar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
