<ion-header>
  <ion-toolbar>
    <ion-title>
      trip
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  Busca Contatos:
  <br />
  <ion-searchbar (keyup)="onKeyUp($event)"></ion-searchbar>
  <br />

  <ion-list style="max-height: 250px">
    <ion-item *ngFor="let contact of contactsFound">
      <ion-checkbox slot="end" (ionChange)="onContactSelection(contact)"></ion-checkbox>      
      <h2>{{contact?.displayName}}</h2>
      <p *ngFor="let num of contact?.phoneNumbers">
        {{num.value}}
      </p>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>Contatos Selecionados: </ion-list-header>
    <br />

    <ion-item *ngFor="let contact of selectedContacts">
      <h2>{{contact?.displayName}}</h2>
    </ion-item>
  </ion-list>

</ion-content>