<ion-header>
  <ion-toolbar>
    <ion-title>
      Rota
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  

  <div #map id="map">
      <ion-spinner></ion-spinner>
  </div>  

</ion-content>
