

#please-connect p {
    color: #fff;
    font-weight: bold;
    text-align: center;
    position: relative;
    font-size: 1.6em;
    top: 30%;
}
#map {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}