.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
ion-list {
  position: absolute;
  width: inherit;
  overflow-y: scroll;
  max-height: 150%;
  z-index: 999;

  ion-item {

    img {
      max-height: 2.5rem;
      width: auto;
      margin: auto;
      display: block;
    }
  }

  ion-item:hover {
    cursor: pointer;
    background: #f1f1f1
  }
}

#please-connect {
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#please-connect p {
    color: #fff;
    font-weight: bold;
    text-align: center;
    position: relative;
    font-size: 1.6em;
    top: 30%;
}

// .scroll-content {
//     overflow: hidden;
// }

#map {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}