<ion-header>
  <ion-toolbar>
    <ion-title>
      Viagem
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item style="margin-top: 10px;">
    <div style="width: 95%;">
      <ion-label>Nome da Viagem</ion-label>
      <ion-input type="text" maxlength="30" [(ngModel)]="name"></ion-input>
    </div>  
  </ion-item>

  <ion-item>
    <div style="width: 95%;">
      <ion-label>Descrição</ion-label>
      <ion-input type="text" maxlength="60" [(ngModel)]="description"></ion-input>
    </div>  
  </ion-item>  

  <ion-item>
    <div style="width: 95%;">
      <ion-label>Data</ion-label>
      <ion-datetime type="date" pickerFormat="DD-MM-YYYY HH:mm" displayFormat="DD-MM-YYYY HH:mm" [(ngModel)]="date"></ion-datetime>
    </div>  
  </ion-item>
  
  <div style="margin-bottom: 20px; width: 100%;" (ionFocus)="addFocusOrigin()" (ionBlur)="removeFocusOrigin()">
    <ion-toolbar>
        <ion-label style="margin-left: 16px;">Origem</ion-label>
        <ion-searchbar debounce="500" [(ngModel)]="queryOrigin" (ionChange)="searchPlaceOrigin()"></ion-searchbar><!--(ionFocus)="addFocus()" (ionBlur)="removeFocus()"-->
    </ion-toolbar>

    <ion-list [style.display]="isPlacesOriginVisible ? 'block' : 'none'" (ionFocus)="addFocusOrigin()" (ionBlur)="removeFocusOrigin()">
        <ion-item *ngFor="let place of placesOrigin" (click)="selectPlaceOrigin(place)">{{place.description}}</ion-item>
    </ion-list>
  </div>
  
  <div style="margin-top: 20px; margin-bottom: 20px; width: 100%;" (ionFocus)="addFocusDestiny()" (ionBlur)="removeFocusDestiny()">
    <ion-toolbar>
        <ion-label style="margin-left: 16px;">Destino</ion-label>
        <ion-searchbar debounce="500" [(ngModel)]="queryDestiny" (ionChange)="searchPlaceDestiny()"></ion-searchbar> 
    </ion-toolbar>

    <ion-list [style.display]="isPlacesDestinyVisible ? 'block' : 'none'">
        <ion-item *ngFor="let place of placesDestiny" (click)="selectPlaceDestiny(place)">{{place.description}}</ion-item>
    </ion-list>
  </div>
  
  <div style="margin-bottom: 20px; width: 100%;" (ionFocus)="addFocusStop()" (ionBlur)="removeFocusStop()">
    <ion-toolbar>
        <ion-label style="margin-left: 16px;">Parada</ion-label>
        <ion-searchbar debounce="500" [(ngModel)]="queryStop" (ionChange)="searchPlaceStop()"></ion-searchbar>
    </ion-toolbar>

    <ion-list [style.display]="isPlacesStopVisible ? 'block' : 'none'">
      <ion-item *ngFor="let place of placesStop" (click)="selectPlaceStop(place)">{{place.description}}</ion-item>
    </ion-list>
  </div>

  <div #map id="map">
      <ion-spinner></ion-spinner>
  </div>

</ion-content>
