.div-table {
    display: table;         
    width: auto;
  }
  .div-table-row {
    display: table-row;
    width: auto;
    clear: both;    
  }
  .div-table-col {
    float: left; /* fix for  buggy browsers */
    display: table-column;
    min-width: 80px;
    max-width: 180px;
  }