<ion-header>
  <ion-toolbar>
    <ion-title>
      Compartilhar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <div style="display: table;margin-left: 15px; margin-top: 20px;">
      <ion-label>Resumo da Viagem: </ion-label>
  </div>
  

  <div style="display: table; margin: 0 auto; margin-top: 20px;">
    <div class="div-table">
        <div class="div-table-row">
          <div class="div-table-col"  style="margin-bottom: 10px;">Nome: </div>
          <div  class="div-table-col"  style="margin-bottom: 10px;">
              <ion-text [innerHtml]="tripName"></ion-text>
          </div>
        </div>
        <div class="div-table-row">
          <div class="div-table-col"  style="margin-bottom: 10px;">Descrição: </div>
          <div  class="div-table-col"  style="margin-bottom: 10px;">
              <ion-text [innerHtml]="tripDescription"></ion-text>
          </div>
        </div>
        <div class="div-table-row">
          <div class="div-table-col"  style="margin-bottom: 10px;">Data: </div>
          <div  class="div-table-col"  style="margin-bottom: 10px;">
              <ion-text [innerHtml]="tripDate"></ion-text>
          </div>
        </div>
        <div class="div-table-row">
          <div class="div-table-col"  style="margin-bottom: 10px;">Origem: </div>
          <div  class="div-table-col"  style="margin-bottom: 10px;">
              <ion-text [innerHtml]="tripOrigin"></ion-text>
          </div>
        </div>
        <div class="div-table-row">
          <div class="div-table-col"  style="margin-bottom: 10px;">Destino: </div>
          <div  class="div-table-col"  style="margin-bottom: 10px;">
              <ion-text [innerHtml]="tripDestiny"></ion-text>
          </div>
        </div>
        <div class="div-table-row">
          <div class="div-table-col"  style="margin-bottom: 10px;">Parada: </div>
          <div  class="div-table-col"  style="margin-bottom: 10px;">
              <ion-text [innerHtml]="tripStop"></ion-text>
          </div>
        </div>
    </div>
  </div>
  
  <div style="display: table; margin: 0 auto; margin-top: 20px;">
    <ion-button (click)="onClick()">
      <ion-icon name="logo-facebook"></ion-icon>
      <ion-label>Facebook</ion-label>      
    </ion-button>

    <ion-button (click)="onClick2()">
      <ion-icon name="logo-whatsapp"></ion-icon>
      <ion-label>Whatsapp</ion-label>            
    </ion-button>
  </div>
  
</ion-content>
